@import
   // minimal requirements
   '~bootstrap/scss/functions',
   '~bootstrap/scss/variables',
   '~sass/bs-variables',// overide bs vars
   '~bootstrap/scss/mixins',
   // components
'~bootstrap/scss/print',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
   '~bootstrap/scss/images',
   '~bootstrap/scss/code',
   '~bootstrap/scss/grid',
   '~bootstrap/scss/tables',
   '~bootstrap/scss/forms',
   '~bootstrap/scss/buttons',
   '~bootstrap/scss/transitions',
   '~bootstrap/scss/dropdown',
   '~bootstrap/scss/button-group',
   '~bootstrap/scss/input-group',
   '~bootstrap/scss/custom-forms',
   '~bootstrap/scss/nav',
   '~bootstrap/scss/navbar',
   '~bootstrap/scss/card',
   '~bootstrap/scss/breadcrumb',
   '~bootstrap/scss/pagination',
   '~bootstrap/scss/badge',
   '~bootstrap/scss/jumbotron',
   '~bootstrap/scss/alert',
   '~bootstrap/scss/progress',
   '~bootstrap/scss/media',
   '~bootstrap/scss/list-group',
   '~bootstrap/scss/close',
   '~bootstrap/scss/modal',
   '~bootstrap/scss/tooltip',
   '~bootstrap/scss/popover',
   '~bootstrap/scss/carousel',
   '~bootstrap/scss/utilities';

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/**
 * debug grid
 */

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}
