@import
   // minimal requirements
   '~bootstrap/scss/functions',
   '~bootstrap/scss/variables',
   '~sass/bs-variables',// overide bs vars
   '~bootstrap/scss/mixins',
   // components
'~bootstrap/scss/print',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
   '~bootstrap/scss/images',
   '~bootstrap/scss/code',
   '~bootstrap/scss/grid',
   '~bootstrap/scss/tables',
   '~bootstrap/scss/forms',
   '~bootstrap/scss/buttons',
   '~bootstrap/scss/transitions',
   '~bootstrap/scss/dropdown',
   '~bootstrap/scss/button-group',
   '~bootstrap/scss/input-group',
   '~bootstrap/scss/custom-forms',
   '~bootstrap/scss/nav',
   '~bootstrap/scss/navbar',
   '~bootstrap/scss/card',
   '~bootstrap/scss/breadcrumb',
   '~bootstrap/scss/pagination',
   '~bootstrap/scss/badge',
   '~bootstrap/scss/jumbotron',
   '~bootstrap/scss/alert',
   '~bootstrap/scss/progress',
   '~bootstrap/scss/media',
   '~bootstrap/scss/list-group',
   '~bootstrap/scss/close',
   '~bootstrap/scss/modal',
   '~bootstrap/scss/tooltip',
   '~bootstrap/scss/popover',
   '~bootstrap/scss/carousel',
   '~bootstrap/scss/utilities';



/**
 * debug grid
 */

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}
