<h2 [innerHTML]="'heroes.title' | translate">My Heroes</h2>

<h1 *ngIf="busy" type="info">
  busy...
</h1>

<mat-list class="heroes">
  <mat-list-item *ngFor="let hero of heroes"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <mat-icon matListIcon>folder</mat-icon>
    <h3>{{hero.name}}</h3>
    <button mat-raised-button
            (click)="delete(hero); $event.stopPropagation()">
      <mat-icon matListIcon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
  <mat-form-field>
  <input
    #heroName
    matInput
    placeholder="Hero Name:">
  </mat-form-field>

  <button
    mat-raised-button
    (click)="add(heroName.value); heroName.value=''">
    {{'heroes.addBtn.content' | translate}}
  </button>

</div>
