<h2 [innerHTML]="'COMPONENT_heroes.title' | translate">My Heroes</h2>
<form name="form"
      novalidate
      [formGroup]="heroForm"
      (ngSubmit)="onSubmit()">

  <div class="form-group"
       [ngClass]="{ 'has-error': name.invalid && (name.dirty || name.touched) }">

    <div class="input-group">
      <input class="form-control" id="name" formControlName="name" placeholder="{{'COMPONENT_heroes.placeholder-name' | translate}}">
      <button type="submit" class="btn btn-primary"
              [disabled]="formBusy"
              [innerHTML]="'COMPONENT_heroes.add' | translate">
        add
      </button>
      <img *ngIf="formBusy" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>

    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <small class="validation-msg" *ngIf="name['errors'].required" [innerHTML]="'COMPONENT_heroes.error.name_required' | translate">
        Name is required.
      </small>
    </div>
  </div>
</form>

<h1 *ngIf="busy"  type="info">
  busy...
</h1>

<ul class="heroes">
  <li class="hero"
      *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero">
    <a class="name" href="javascript:void(0)"
       (click)="onSelect(hero)">
      {{hero.name}}
    </a>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
