
<h1 *ngIf="!busy && !hero"  type="danger">
  This hero will not help you!
</h1>

<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
   </div>
  <button
    class="btn btn-outline-primary"
    type="button"
    (click)="goBack()"
    mdbRippleRadius >
      Back
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="save()"
    mdbRippleRadius>
      Save
  </button>
</div>
