<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="container">

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard">
            Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/heroes">
            Heroes
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <div class="mt-2 mt-md-0">
        <ul class="navbar-nav">
          <li class="nav-item" [class.active]="activeLang == 'en'">
            <a class="nav-link" href="javascript:void(0);" (click)="setLanguage('en')">En</a>
          </li>
          <li class="nav-item" [class.active]="activeLang == 'de'">
            <a class="nav-link" href="javascript:void(0);" (click)="setLanguage('de')">De</a>
          </li>
        </ul>
      </div>
      <div class="mt-2 mt-md-0" *ngIf="isAuthenticated==true">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" routerLink="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<div id="container-global" class="container">
  <div class="pt-3">
    <router-outlet></router-outlet>
  </div>
</div>
