<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="container">
    <div class="d-sm-none">
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="mainNav">
        Toggle
      </button>
    </div>

    <div class="collapse navbar-collapse" id="mainNav" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard">
            Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/heroes">
            Heroes
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <div class="mt-2 mt-md-0">
        <ul class="navbar-nav">
          <li class="nav-item" [class.active]="activeLang == 'en'">
            <a class="nav-link" (click)="setLanguage('en')">En</a>
          </li>
          <li class="nav-item" [class.active]="activeLang == 'de'">
            <a class="nav-link" (click)="setLanguage('de')">De</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<div id="container-global" class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
