<!--
<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-click="goto('page1')" name="page1">
    Page One
  </md-nav-item>
  <md-nav-item md-nav-href="#page2" name="page3">Page Two</md-nav-item>
  <md-nav-item md-nav-sref="page3" name="page2">Page Three</md-nav-item>
  <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
    Page Four
  </md-nav-item>
</md-nav-bar>

-->
<mat-slider
  class="example-margin"
  [disabled]="disabled"
  [invert]="invert"
  [max]="max"
  [min]="min"
  [step]="step"
  [thumb-label]="thumbLabel"
  [tick-interval]="tickInterval"
  [value]="value"
  [vertical]="vertical">
</mat-slider>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="container">

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard">
            Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/heroes">
            Heroes
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <div class="mt-2 mt-md-0">
        <ul class="navbar-nav">
          <li class="nav-item" [class.active]="activeLang == 'en'">
            <a class="nav-link" href="javascript:void(0);" (click)="setLanguage('en')">En</a>
          </li>
          <li class="nav-item" [class.active]="activeLang == 'de'">
            <a class="nav-link" href="javascript:void(0);" (click)="setLanguage('de')">De</a>
          </li>
        </ul>
      </div>
      <div class="mt-2 mt-md-0" *ngIf="isAuthenticated==true">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" routerLink="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<div id="container-global" class="container">
  <div class="pt-3">
    <router-outlet></router-outlet>
  </div>
</div>
