<div class="nav-top-wrapper">
  <nav class="nav-top">
    <div class="nav-top-main-wrapper">
      <ul class="nav-top-main">
        <li routerLinkActive="active">
          <a [routerLink]="'/dashboard' | localize" [innerHTML]="'COMPONENT_dashboard.name' | translate">
            Dashboard
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/heroes' | localize" [innerHTML]="'COMPONENT_heroes.name' | translate">
            Heroes
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/submodule' | localize" [innerHTML]="'COMPONENT_submodule.name' | translate">
            Submodule
          </a>
        </li>
      </ul>
    </div>

    <div class="nav-top-lang-wrapper">
        {{('COMPONENT_topnav.lang_abr_' + activeLang)|translate}}
        <ul class="nav-top-lang dropdown">
          <li [class.active]="activeLang == 'de'">
            <a href="javascript:void(0);" (click)="changeLanguage('de')">{{'COMPONENT_topnav.lang_abr_de'|translate}}</a>
          </li>
          <li [class.active]="activeLang == 'en'">
            <a href="javascript:void(0);"  (click)="changeLanguage('en')">{{'COMPONENT_topnav.lang_abr_en'|translate}}</a>
          </li>
        </ul>
    </div>

    <div class="nav-top-logout-wrapper">
      <div class="nav-top-logout">
          <a href="javascript:void(0);"
             *ngIf="isAuthenticated==false"
             [routerLink]="'/login'| localize">
              {{'COMPONENT_topnav.login' | translate}}
          </a>
          <a href="javascript:void(0);"
             *ngIf="isAuthenticated==true"
             (click)="logout()">
            <span *ngIf="isAuthenticated==true"
                  [innerHTML]="'COMPONENT_topnav.logout' | translate">
              logout
            </span>
            <span
              *ngIf="idleCountdown"
              translate
              [translateParams]="{count: idleCountdown}" >
              COMPONENT_app.idleCountdownHint
            </span>
          </a>
      </div>
    </div>

  </nav>
</div>
