<div class="nav-top-wrapper">
  <nav class="nav-top">
    <div class="nav-top-main-wrapper">
      <ul class="navbar-nav nav-top-main">
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             [routerLink]="'/dashboard' | localize">
            Dashboard
          </a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             [routerLink]="'/heroes' | localize">
            Heroes
          </a>
        </li>
        <li class="nav-item"
            routerLinkActive="active" class="nav-item">
          <a class="nav-link"
             [routerLink]="'/submodule' | localize"
             [innerHTML]="'COMPONENT_submodule.name' | translate">
            Submodule
          </a>
        </li>
      </ul>
    </div>

    <div class="nav-top-lang-wrapper">
      <ul class="navbar-nav nav-top-lang">
        <li class="nav-item"
            [class.active]="activeLang == 'de'">
          <a class="nav-link"
             href="javascript:void(0);"
             (click)="changeLanguage('de')">De</a>
        </li>
        <li class="nav-item"
            [class.active]="activeLang == 'en'">
          <a class="nav-link"
             href="javascript:void(0);"
             (click)="changeLanguage('en')">En</a>
        </li>
      </ul>
    </div>

    <div class="nav-top-logout-wrapper" *ngIf="isAuthenticated==true">
      <ul class="navbar-nav nav-top-logout">
        <li class="nav-item">
          <a class="nav-link"
             href="javascript:void(0);"
             [routerLink]="'/login'| localize">Logout
            <span *ngIf="idleCountdown" translate [translateParams]="{count: idleCountdown}">
              COMPONENT_app.idleCountdownHint
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
