<div class="nav-top-wrapper">
  <nav class="nav-top">
    <div class="nav-top-main-wrapper">
      <ul class="nav-top-main">
        <li routerLinkActive="active">
          <a [routerLink]="'/dashboard' | localize">
            Dashboard
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/heroes' | localize">
            Heroes
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/submodule' | localize" [innerHTML]="'COMPONENT_submodule.name' | translate">
            Submodule
          </a>
        </li>
      </ul>
    </div>

    <div class="nav-top-lang-wrapper">
      <ul class="nav-top-lang">
        <li [class.active]="activeLang == 'de'">
          <a href="javascript:void(0);" (click)="changeLanguage('de')">De</a>
        </li>
        <li [class.active]="activeLang == 'en'">
          <a href="javascript:void(0);"  (click)="changeLanguage('en')">En</a>
        </li>
      </ul>
    </div>

    <div class="nav-top-logout-wrapper" *ngIf="isAuthenticated==true">
      <ul class="nav-top-logout">
        <li>
          <a href="javascript:void(0);" [routerLink]="'/login'| localize">Logout
            <span *ngIf="idleCountdown" translate [translateParams]="{count: idleCountdown}">
              COMPONENT_app.idleCountdownHint
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
